.EpsilonStreamPage{
  background-color: lightgrey;
}

.App-intro {
  font-size: small;
}

.blog-post-img {
  border-radius: 50px;
}

.SearchItem {
  background-color: #fff;
  margin: 0px;
  /*border-radius: 5px;*/
  box-shadow: inset 0px 6px 6px -6px;
  height: 120px;
  font-size: 10pt;
}

.SearchItem > .media > .media-body {
  /*padding: 10px;*/
  color: blueviolet;
}

.SearchItem > div > .imagecontainer {
  height: 113px;
  width: 195px;
  overflow: hidden;
}

.media-title{
  padding-top: 10px;
  font-size: large;
}

.media-subtitle{
  padding-top: 30px;
  font-size: small;
}

.progressbar-container {
  background-color: #000000;
  position: relative;
  left: 0px;
  bottom: 10px;
  width: 195px;
  height: 10px;
}

.progressbar-progress {
  background-color: #ff0000;
}

.thumbimage {
  min-height: 113px;
  min-width: 195px;
}

.FeaturedURL > div > .imagecontainer > img {
  border-radius: 100px;
  width: 50px;
  height: 50px;
  padding-left:20%;
  padding-right:20%;
  padding-top:10%;
  padding-bottom:10%;
  display: block;
}


.MathObjectLinks > div > .imagecontainer > img {
  border-radius: 100px;
  width: 30px;
  height: auto;
  padding-left:20%;
  padding-right:20%;
  padding-top:10%;
  padding-bottom:10%;
  display: block;
}

.Snippet > div > .imagecontainer > img {
 /* min-height: 113px;
  min-width: 195px;*/
}

.productButton {
  border-radius: 100px;
}


/*NavbarBrand.propTypes = {
  color: white;
  fixed: true;
}*/

.center {
  text-align: center;
}

.youtube-player {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height:100vh;
}

.SearchResults{
  padding-top: 0px;
  /*padding-right: 120px;
  padding-bottom: 20px;
  padding-left: 120px;*/
  /*width: 1000px;*/
  background-color: lightgray;
  align-content: center;
  height:100vh;
}

.background{
  background-color: lightgrey;
}

ul{
  list-style-type: none;
  padding-left: 0;
}

li{
  margin: 2px 0;
}


.alt-grid [class*="col-"] {padding-left:0;padding-right:0}
.alt-grid .row {margin-left:0;margin-right:0}

/* container adjusted */
.alt-grid .container {width:100%;max-width:none;padding:0;}

.Alert{
  padding: 0px;
}

.text-white{
  display: inline;
}

.navbar-nav > li{
  padding-left:10px;
  padding-right:10px;
  line-height: 60px;
}

.LoadContent{
  line-height: 200px;
  vertical-align: middle;
  background-color: lightgrey;
}

.blogPost{
  background-color: aliceblue;
  text-align: left;
}

.form-control, .input-group-addon, .noborderradius {
  border-radius: 0px !important;
}

.randombutton {
  background-color: rgba(255, 255, 255, 255) !important;
}

.thumbimage {
  width: 250px;
}