.EpsilonStreamPage{
  background-color: lightgrey;
}

.App-intro {
  font-size: small;
}

.blog-post-img {
  border-radius: 50px;
}

.SearchItem {
  background-color: #fff;
  margin: 0px;
  /*border-radius: 5px;*/
  box-shadow: inset 0px 6px 6px -6px;
  height: 120px;
  font-size: 10pt;
  overflow: hidden;
}

.SearchItem > .media > .media-body {
  /*padding: 10px;*/
  color: blueviolet;
}

.SearchItem > div > .imagecontainer {
  height: 120px;
  width: 195px;
  overflow: hidden;
  flex: 0 0 195px;
}

.media-title{
  padding-top: 10px;
  font-size: large;
}

.media-subtitle{
  padding-top: 30px;
  font-size: small;
}

.progressbar-container {
  background-color: #000000;
  position: relative;
  left: 0px;
  bottom: 0px;
  width: 195px;
  height: 10px;
}

.progressbar-progress {
  background-color: #ff0000;
}

.thumbimage-explore {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  object-fit: cover;
}

.thumbimage-searchlink, .thumbimage-snippet, .thumbimage-no-match {
  height: 100px;
  width: 195px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  object-fit: contain;
}

.thumbimage-watch {
  height: 110px;
  width: 195px;
  object-fit: cover;
}


.productButton {
  border-radius: 100px;
}

.center {
  text-align: center;
}

.youtube-player {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 90vh; /* QQQQ */
}

.SearchResults{
  padding-top: 0px;
  /*padding-right: 120px;
  padding-bottom: 20px;
  padding-left: 120px;*/
  /*width: 1000px;*/
  background-color: whitesmoke;
  align-content: center;
  height:100vh;
}

.background, body, html{
  background-color: whitesmoke;
}

ul{
  list-style-type: none;
  padding-left: 0;
}

li{
  margin: 2px 0;
}


.alt-grid [class*="col-"] {padding-left:0;padding-right:0}
.alt-grid .row {margin-left:0;margin-right:0}

/* container adjusted */
.alt-grid .container {width:100%;max-width:none;padding:0;}

.Alert{
  padding: 0px;
}

.text-white{
  display: inline;
}

.navbar-nav > li{
  padding-left:10px;
  padding-right:10px;
  line-height: 60px;
}

.LoadContent{
  line-height: 200px;
  vertical-align: middle;
  background-color: whitesmoke;
}

.blogPost{
  background-color: whitesmoke;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
  overflow: hidden;
}

blog-inline-image{
    max-width: 100%;
    width: 10px;
}

.form-control, .input-group-addon, .noborderradius {
  border-radius: 0px !important;
}

.randombutton {
  background-color: rgba(255, 255, 255, 255) !important;
}

@media (min-width: 992px) {
  .nopadding-lg {
    padding: initial;
    margin: initial;
  }
}

@media (max-width: 991px) {
  .nopadding-lg {
    padding: 0 !important;
    margin: 0 !important;
  }
}
